/.idea/
/codeMRI.Api/bin/
/codeMRI.Api/obj/
/codeMRI.Shared/bin/
/codeMRI.Shared/obj/
/codeMRI.Core/bin/
/codeMRI.Core/obj/
/codeMRI.Infrastructure/bin/
/codeMRI.Infrastructure/obj/
/codeMRI.Web/bin/
/codeMRI.Web/obj/
/codeMRI.E2E/bin/
/codeMRI.E2E/obj/
/data/

