/.idea/
/codeMRI.Api/bin/
/codeMRI.Api/obj/
/codeMRI.Api/data/
/codeMRI.Shared/bin/
/codeMRI.Shared/obj/
/codeMRI.Core/bin/
/codeMRI.Core/obj/
/codeMRI.Core.Tests/bin/
/codeMRI.Core.Tests/obj/
/codeMRI.Infrastructure/bin/
/codeMRI.Infrastructure/obj/
/codeMRI.Infrastructure.Tests/bin/
/codeMRI.Infrastructure.Tests/obj/
/codeMRI.Web/bin/
/codeMRI.Web/obj/
/codeMRI.E2E/bin/
/codeMRI.E2E/obj/
/codeMRI.ASTService/build/
/codeMRI.ASTService/node_modules/
/data/

